<div class="box">
	<h2><%= task.name %></h2>
	<table>
		<thead>
			<tr>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Category:</td>
				<td><%= task.category.name %></td>
			</tr>
			<tr>
				<td>Details:</td>
				<td><%= task.details %></td>
			</tr>
		</tbody>
	</table>
</div>
