<h1>All Tasks</h1>
<% if @tasks.length == 0 %>
	<div class="box">
		<h2>No tasks yet.</h2>
	</div>
<% end %>
<%= render @tasks %>
<%= link_to 'Back', root_path, :class => "redirect" %>
<% if notice %>
	<div class="notice"><%= notice %></div>
<% end %>
