<h1>All Tasks</h1>
<% if @tasks.length == 0 %>
	<div class="box">
		<h2>No tasks yet.</h2>
	</div>
<% end %>
<%= render @tasks %>
<div class="box">
	<%= link_to 'Back', root_path %>
</div>
<p id="notice"><%= notice %></p>
