<h1>Today's Tasks</h1>
<h2><%= Date.today %></h2>
<% if @tasks.length == 0 %>
	<div class="box">
		<h2>No tasks for today yet.</h2>
	</div>
<% end %>
<%= render @tasks %>
<%= link_to 'Categories', categories_path, :class => "redirect" %>
<%= link_to 'All Tasks', tasks_path, :class => "redirect" %>

