/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: CircularStd-Black;
	src: url(CircularStd-Black.otf);
}
@font-face {
	font-family: CircularStd-Bold;
	src: url(CircularStd-Bold.otf);
}
@font-face {
	font-family: CircularStd-Book;
	src: url(CircularStd-Book.otf);
}
@font-face {
	font-family: CircularStd-Medium;
	src: url(CircularStd-Medium.otf);
}

* {
	margin: 0;
}

.main {
	margin-top: 50px;
	padding: 33px;
}

body {
	background-color: #f8f9fb;
}

*,
td,
p {
	font-family: 'CircularStd-Book';
	font-size: 0.95rem;
	color: black;
}

h1,
h2 {
	font-family: 'CircularStd-Bold';
	padding: 10px 0px;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.35rem;
}

a {
	text-decoration: none;
	color: #4f42ec;
}

label {
	margin-bottom: 5px;
	margin-top: 15px;
}

input {
	font-family: 'CircularStd-Book';
	color: black;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
	width: 200px;
}

input:focus {
	outline: none;
	border: 1px solid #4f42ec;
}

textarea {
	font-family: 'CircularStd-Book';
	color: black;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
	width: 200px;
	height: 4rem;
	resize: none;
}

textarea:focus {
	outline: none;
	border: 1px solid #4f42ec;
}

select {
	font-family: 'CircularStd-Book';
	color: black;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
	-webkit-appearance: none;
}

select:focus {
	outline: none;
	border: 1px solid #4f42ec;
}

input[type='submit'] {
	font-family: 'CircularStd-Bold';
	color: white;
	background-color: #4f42ec;
	border: 1px solid #4f42ec;
	text-align: center;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 100px;
	cursor: pointer;
	margin-top: 20px;
	display: block;
	width: max-content;
}

input[type='submit']:hover {
	color: #4f42ec;
	background-color: white;
}

.redirect {
	text-decoration: none;
	font-family: 'CircularStd-Bold';
	color: white;
	background-color: #4f42ec;
	border: 1px solid #4f42ec;
	text-align: center;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 100px;
	cursor: pointer;
	margin: 20px 0px;
	display: block;
	width: max-content;
}

.redirect:hover {
	color: #4f42ec;
	background-color: white;
}

.signout {
	text-decoration: none;
	font-family: 'CircularStd-Bold';
	color: white;
	background-color: #4f42ec;
	border: 1px solid #4f42ec;
	text-align: center;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 100px;
	cursor: pointer;
	margin: 20px 0px;
	display: block;
	width: max-content;
	margin-right: 33px;
}

.signout:hover {
	color: #4f42ec;
	background-color: white;
}

.box {
	border: 1px solid #4f42ec;
	padding: 10px 20px;
	margin: 20px 0px;
	background-color: white;
}

.notice {
	font-family: 'CircularStd-Bold';
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 20px 20px;
	border: 1px solid #00cc7d;
	background-color: #00cc7d;
	color: white;
}

.alert {
	font-family: 'CircularStd-Bold';
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 20px 20px;
	border: 1px solid #ea4435;
	background-color: #ea4435;
	color: white;
}

.navbar {
	width: 100vw;
	height: 60px;
	background-color: #4f42ec;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.navbar div {
	font-size: 2.3rem;
	font-family: 'CircularStd-Black';
	color: #4f42ec;
}

input[type='checkbox'] {
	width: 10px;
}

.navleft {
	margin-left: 33px;
	display: flex;
	align-items: center;
}

.navleft span {
	font-size: 1rem;
	font-family: 'CircularStd-Book';
	color: #4f42ec;
}

.navlogo {
	width: 60px;
	height: auto;
	margin-right: 10px;
}
